body {
	margin:auto;
	padding:50px 10px;
    font-family: 'Open Sans', sans-serif;
}

.serif {
	font-family: 'Lora', serif;
}
.sans-serif {
	font-family: 'Open Sans', sans-serif;
}

/* choose a light or dark theme to add to the body tag. */
.dark-theme {
    background-color: #151515;
    color: #fbfbfb;
}
a{
	color:#12d06b;
}
.light-theme {
    background-color: white;
    color: black;
}

.header , .footer {
	padding-top:20px;
	padding-bottom:20px;
	position: relative;
	max-width: 70%;
	left:15%;
}

.image-lead{
	padding-top: 20px
}

.story-body{
	margin:auto;
	max-width: 80%;
}


/* text styles */

p.kicker {
	font-size:1rem;
	text-transform:uppercase;
}

.text-center {
	text-align:center;
}

h1.headline {
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 800;
}

h2.subhead {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom:0;
    margin-top: 15px;
    font-weight: 300;
}

p.body-text {
    font-size: 1.1rem;
    line-height: 1.4;
 	margin-top:0;
	margin-bottom:15px;
}

h3.section-head {
	font-size:2rem;
	margin:0px 0 10px 0;
	font-weight:700;
	line-height:1.3;
}

.byline {
    font-size: 1.1rem;
    line-height: 0.75;
    margin-top: 1.5rem;
    font-weight: 500;
}

.date {
    font-size: 0.85rem;
    line-height: 1;
    margin-top: 10px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:0.5px;
}

p.chart-title{
	font-size: 2rem;
	line-height: 1.1;
	margin-top: 10px;
	font-weight: 400;
	padding-top: 20px
}

p.notes {
	font-size:0.85rem;
}

.domain{
	stroke:white;
}

text{
	fill: white
}

line{
	stroke:white;
}

.svg-content-responsive{
  background:rgba(0,0,0,0);
}


.circleScale {
	stroke:white;
	/*stroke-width:0.1px;*/
	/*stroke-opacity:0.2;*/
	stroke-width:2px;
	stroke-opacity:0.3;
	fill:none;
	vector-effect:non-scaling-stroke;
}

.tickScale{
	fill:white;
	padding-bottom:2px;
	vector-effect:non-scaling-stroke;
}


.d3-tip {
  line-height: 1.2;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.tickScale{
	font: 10px sans-serif;
}

.bigLabel{
	font-size: 10px;
}

.smallLabel{
	font-size:6px;
}

@media only screen and (min-width: 500px)
		{	
		#chart-1{
			position: relative;
			display: block;
			max-width: 100%;
			left:0%;
		}
		#chart-2{
			position: relative;
			display: block;
			/*left:20%;*/
		}

		#chart-3{
			position: relative;
			display: block;
			/*left:20%;*/
		}
		.story{
		margin:0;
		max-width: 100%;
		position: relative;
		left:0%;
		}

		.image-lead{
			position: relative;
			left:0%;
			max-width: 100%
		}

	}

@media only screen and (min-width: 700px){
	#chart-1{
		position: relative;
		display: block;
		max-width: 80%;
		left:10%;
	}
	#chart-2{
		position: relative;
		display: block;
		max-width: 80%;
		left:10%;
	}
	#chart-3{
		position: relative;
		display: block;
		max-width: 90%;
		left:5%;
	}
	.story{
		margin:0;
		max-width: 100%;
		position: relative;
		left:0%;
	}

}

	@media only screen and (min-width: 1200px){
	#chart-1{
		position: relative;
		display: block;
		max-width: 50%;
		left:25%;
	}
	#chart-2{
		position: relative;
		display: block;
		max-width: 50%;
		left:25%;
	}
	#chart-3{
		position: relative;
		display: block;
		max-width: 60%;
		left:20%;
	}
	.story{
		margin:0;
		max-width: 80%;
		position: relative;
		left:10%;
	}

	p.chart-title{
		position: relative;
		left:10%;

	}

}



